# envs
VirtualEnvironment
env
venv

# package manager
poetry.lock
pdm.lock
pdm.toml
.pdm.toml
.pdm-python

# IDE
.idea/**
.vs/**
.fleet/**
.vscode/**

# build
build
Tools/OfflineBuild/**
Servers/**
requirements.txt
QtUI/*/*.py
QtUI/*.py
Icons/*.py
Qss/*.py
*.egg-info
Icons/icons_rc.py
# *.whl
encrypt.pyi

# runtime
MEFrp-Launcher-Settings.json
frpc/**
update/**
*.zip*

# debug
.ruff_cache
result.json

# Just __pycache__
*__pycache__*

# test
tmp.py
1.py

$ secrets
MELauncherLib/AppController/encrypt.py

aria2c.exe

*.whl